body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(96, 0, 0, 0.829);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePage h1{
  margin-left: 20px;
}

.homePage p{
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 80px auto;
  background-color: rgba(128, 128, 128, 0.641);
  border-radius: 3px;
}

.navBg {
  background-color: #00000050;
  height: 40px;
}

.bookedF {
  width: 100px;
  height: 35px;
  margin-left: 45px;
  border-radius: 8px;
  background-color: steelblue;
}

.moviesCont img{
  width: 220px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.moviesCont ul{
  list-style: none;
}

.moviesCont h2{
  margin-left: 20px;
}

.movie-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  position: relative;
  /* background-color: rgba(169, 169, 169, 0.6); */
  /* max-width: 400px; */
}

/* Create a pseudo-element for the background color */
.movie-info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1250px; /* Set the width for the background color */
  background-color: rgba(169, 169, 169, 0.6); /* Set the background color here */
  border-radius: 3px;
  z-index: -1;
  margin-top: -10px;
  margin-bottom: -10px;
}

.movie-info img{
  margin-left: 25px;
  border-radius: 5px;
}

.movie-info p{
  margin-left: 25px;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  /* background-color: rgba(169, 169, 169, 0.6); */
}

.movie-info h3{
  margin-left: 25px;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  /* background-color: rgba(169, 169, 169, 0.6); */
}

.movie-info h4{
  margin-left: 25px;
  /* background-color: rgba(169, 169, 169, 0.6); */
}

.moviesCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
}

.moviesCard li {
 flex: 1;
}

.links a{
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-family: cursive;
}

.search-cont {
  margin: 20px 20px auto;
}

.search-cont input{
  margin-bottom: 10px;
}