body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.moviesCont img{
  width: 220px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.moviesCont ul{
  list-style: none;
}

.moviesCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
}

.moviesCard li {
 flex: 1;
}

